<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foundit">

    <!-- 인터넷 사용 권한 설정-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoundIt"
        android:name=".GlobalApplication"
        >

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao4501290d024e16e12f7bb36c771d585f://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao4501290d024e16e12f7bb36c771d585f" />
            </intent-filter>
        </activity>
        <activity android:name=".Map"></activity>
        <activity android:name=".Shop" />
        <activity android:name=".MyPage" />
        <activity android:name=".Splash" />
        <activity android:name=".Login"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>